.error-fallback {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    color: var(--text-dark);
}

    .error-fallback h3 {
        margin: 0 0 .5rem 0;
        font-weight: 600;
        font-size: 2rem;
    }

    .error-fallback p {
        font-weight: 500;
        font-size: 1.25rem;
    }

.btn-retry {
    height: 3rem;
    width: 12rem;
    padding: 1rem;
    color: var(--color-basic);
    background: var(--primary);
    border: none;
    border-radius: 1rem;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer
}

    .btn-retry:hover {
        background: var(--primary-dark);
    }
